body {
    background-color: rgba(243, 234, 223, 0.637);
}

h1 {
    color: darkred;
}

#img {
    display: block;
    margin: auto;
    max-width: 50%;
    border-radius: 1%;
}

#title {
    text-align: center;
    text-shadow: 5px 5px 15px #000;
    font-size: 3em;
}

#tribute-info {
    margin: 5% 25%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 30px;
    border-radius: 5%;
}

#img-caption {
    text-align: center;
    font-size: 1.2em;
}

h3 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
}

.tribute-info  p {
    line-height: 3rem;
    font-style: italic;
    font-size: 22px;
}

.info-link {
    margin: 5% 25%;
    padding: 10px 10px;
    border-radius: 5%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
}